.btn {
	display: inline-block;

	box-sizing: border-box;
	padding: 10px;

	cursor: pointer;
	transition: all 0.2s;
	text-align: center;

	border: none;
	border-radius: 5px;

	font-size: 14px;

	&_type_primary {
		color: $white;
		background-color: $primary;
	}

	&_type_primary:hover {
		background-color: $primary-hover;
	}

	&_type_ghost {
		color: $black;
		border: 1px solid $gray-light;
		background: none;
	}

	&_type_ghost:hover {
		color: $white;
		background-color: $primary;
	}

	&__arrow {
		display: inline-block;

		margin-left: 10px;
	}

	&__arrow_down {
		transition: all 0.2s;
		transform: rotate(90deg);
	}
}

.btn__primary svg,
.btn__ghost:hover svg {
	fill: $white;
}
