.btn {
	display: inline-block;

	box-sizing: border-box;
	padding: 10px;

	cursor: pointer;
	transition: all 0.2s;
	text-align: center;

	border: none;
	border-radius: 5px;

	font-size: 14px;
}

.btn_type_primary {
	color: $white;
	background-color: $primary;
}

.btn_type_primary:hover {
	background-color: $primary-hover;
}

.btn_type_ghost {
	color: $black;
	border: 1px solid $gray-light;
	background: none;
}

.btn_type_ghost:hover {
	color: $white;
	background-color: $primary;
}

.btn__arrow {
	display: inline-block;

	margin-left: 10px;
}

.btn__arrow_down {
	transition: all 0.2s;
	transform: rotate(90deg);
}

.btn__primary svg,
.btn__ghost:hover svg {
	fill: $white;
}
